:root{
    --accent-color:#58D68D;
}

body{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}

#wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#navbar{
    width:94vw;
    height:10vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 3vw;
    position:relative;
    background:white;
}

#header-div{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#header-div > img{
    width:7vmin;
}

#headers{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:1vmin;
}

#headers > h1{
    margin:0;
    font-weight:900;
    font-size:3.5vmin;
}

#headers > h2{
    margin:-0.5vmin 0 0 0;
    font-size:2vmin;
    font-weight:300;
}

#navbar > input{
    margin-left:1vw;
    width:14vw;
    height:2.5vh;
    outline:none;
    border:1px solid white;
    background:lightgray;
    border-radius:1vmin;
    padding:0 0.5vw;
    transition-duration:500ms;
    font-size:1.375vh;
    color:gray;
}

#navbar > p{
    position:absolute;
    width:3.5vw;
    right:19vw;
    background:lightgray;
    padding:1vmin;
    border-radius:1vmin;
    font-size:1.5vmin;
    cursor:pointer;
    transition-duration:150ms;
    text-align:center;
}

#navbar > p:hover{
    background:#c1c1c1;
}

#navbar > input:focus{
    border:1px solid gray;
}

.accent{
    color:var(--accent-color)
}

#profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:absolute;
    right:3vmin;
    background:lightgray;
    padding:1.25vmin;
    border-radius:3vmin;
    width:15vw;
}

#pfp{
    width:5vmin;
}

#pfp-dropdown{
    width:3vmin;
    margin-left:0.5vw;
    cursor:pointer;
}

#profile-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:0.5vw;
}

#profile-text > h1{
    font-size:2vmin;
    margin:0;
}

#profile-text > p{
    font-size:1.5vmin;
    margin:0;
}

#main-container{
    width:94vw;
    height:90vh;
    background:var(--accent-color);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:0 3vw;
}

#main-container > div{
    height:70vh;
    background:white;
    margin:0 1.5vw;
    border-radius:3vw;
    padding:5vh 2.5vw;
}

#form-container{
    width:15vw;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#form-container > img, #list-desc > img{
    width:9vmin;
    border-radius:5.5vmin;
    border:1.25vmin solid lightgray;
    background:lightgray;
}

#form-container > h1, #list-desc > h1{
    font-size:1.75vw;
    margin:0;
    margin-top:1vh;
    text-align:center;
}

#form-container > p, #list-desc > p{
    font-size:0.75vw;
    text-align:center;
    margin:0;
}

#form-container > button, #list-desc > button{
    width:15vw;
    height:4vh;
    margin-top:2vh;
    outline:none;
    border:none;
    background:lightgray;
    border-radius:2vh;
    cursor:pointer;
    font-size:1.75vmin;
    font-weight:300;
    transition-duration:250ms;
}

#form-container > button:hover, #list-desc > button:hover{
    background:var(--accent-color);
}

#list-container{
    width:65vw;
    position:relative;
    display:flex;
    flex-direction:row;
}

.form-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    border-radius:3vmin;
    height:4vmin;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-top:2.5vh;
}

.form-input > input{
    outline:none;
    border:none;
    width:12vw;
    padding-left:0.5vw;
    height:4.25vmin;
    font-size:0.75vw;
    background:lightgray;
    color:gray;
}

.form-img{
    background:var(--accent-color);
    width:4.25vmin;
    height:4.25vmin;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.form-img > img{
    width:2.25vmin;
    cursor:pointer;
    filter:grayscale(1);
    transition-duration:250ms;
}

.form-img > img:hover{
    filter:grayscale(0);
}

.line{
    border-top:3px solid lightgray;
    border-radius:1px;
    margin-top:2vh;
    width:15vw;
}

#form-list-div{
    width:15vw;
    height:20vh;
    background:lightgray;
    margin-top:2vh;
    border-radius:3vmin;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

#form-list{
    width:13vw;
    height:17.5vh;
    overflow-y:scroll;
}

#form-list > p{
    width:12.5vw;
    font-size:0.75vw;
    padding:0.5vh 0;
    background:white;
    margin:0;
    margin-top:1vh;
    border-radius:2vmax;
}

::-webkit-scrollbar {
    width: 3px;
}

#form-list::-webkit-scrollbar {
    height:2px;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    width:1px;
}

#list-desc{
    width:15vw;
    height:70vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-right:3px solid lightgray;
    padding-right:2.5vw;
    margin-right:2.5vw;
}

#food-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    width:45vw;
    height:32.5vh;
}

#food-description{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    width:45vw;
    height:32.5vh;
    margin-top:5vh;
}

#food-list > p{
    background:lightgray;
    padding:0.5vmax 1vmax;
    font-size:1vmax;
    border-radius:1vmax;
    cursor:pointer;
    margin:0 1.5vmin;
}