.container{
    display:flex;
}

#formContainer{
    background:white;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#listContainer, #kitchenList{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
}

#listContainer{
    background:gainsboro;
}

#footerContainer{
    background:black;
    color:white;

    justify-content:center;
    align-items:center;
}

#instructionContainer{
    background:lightgray;
    flex-direction:column;
}

#mainContainer{
    background: #000000;
    color:white;

    width: 100%;
    height: clamp(100px, 25vw, 350px);

    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
}

#mainContainer h1{
    font-size: max(25px, 10vw);
    line-height:0.5rem;
    
}

#mainContainer p{
    text-align: center;
    font-size: max(10px, 1.75vw);
}

body{
    font-family: basic-serif, serif;
}